.navItem{
  a{
    color: #f4f1de;
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    transition: .3s;
    border-radius: 1px;
    position: relative;
    z-index: 1;
    &:hover{
      transform: scale(1.5);
      z-index: 2;
    }
    &:active{
      transform: scale(1.25);
      z-index: 2;
    }
  }
  .activeLink{
    transform: scale(1.5);
    z-index: 2;
    color: #ffffff;
  }
}