.navWrapper{
  width: 70px;
  background: #ff8400;
  z-index: 100;
  height: calc(100vh - 59px);
  overflow-y: scroll;
  position: fixed;
  top: 59px;
  left: 0;
  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background: #f7c38c;
    z-index: 30;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: pointer;
    width:15px;
    height: 25px;
    -webkit-appearance: none;
    background: #df7300;
  }
}
.nav{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ffffff;
  cursor: pointer;
}