.navItem{
  // color: #fffce8;
  font-size: 17px;
  transition: all .3s;
  a{
    // color: #D3D3D3;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s;
    display: inline-block;
    position: relative;
    &::after{
      position: absolute;
        content: "";
        width: 0%;
        height: 2px;
        background: #ffffff;
        left: 0;
        bottom: -2px;
        transition: .3s;
    }
    &.activeLink{
      color: #ffffff;
      &::after{
        width: 100%;
      }
    }
  }
}