.navBar{
  padding: 0 10px;
  // background: #0B090A;
  // background: #5B2333;
  // background: #3D405B;//синий
  flex-shrink: 0;
  z-index: 10;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navList{
  list-style: none;
  display: flex;
  gap: 50px;
}