.navBar{
  width: 100px;
  height: 100vh;
  // background: #0B090A;
  // background: #5B2333;
  background: #3D405B;
  padding-top: 20px;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navList{
  list-style: none;
  display: flex;
  flex-direction: column;
}